BasedOnStyle: Google

BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterNamespace: false
  BeforeElse: true
  IndentBraces: false

BreakBeforeBraces: Custom
ReflowComments: false

NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 180

AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false
